<div class="message">
    {{#if me}}
      {{#each messages}}
      <div class="message__container message__container_sent">
          {{#if img}}
            <img src={{img}} alt={{title}} class="message__image" />
          {{/if}}
        <div class="message__text-container message__text-container_sent">
          {{#if text}}
            <p class="message__text">{{{text}}}</p>
          {{/if}}
          <div>
            <p class="message__read">{{{time}}}</p>
            <span class="message__tick" ></span>
          </div>
        </div>
      </div>
      {{/each}}
    {{else}}
      {{#each messages}}
      <div class="message__container message__container_received">
          {{#if img}}
            <img src={{img}} alt={{title}} class="message__image" />
          {{/if}}
        <div class="message__text-container message__text-container_received" >
          {{#if text}}
          <p class="message__text">{{{text}}}</p>
          {{/if}}
          <p class="message__read">{{{time}}}</p>
        </div>
      </div>
      {{/each}}
    {{/if}}
</div>